## Data Mining Lab
## Name = Atul Sharma
## Enrollment No.- 2018IMSCS015
## Question Code- 3 (Implementation of Apriori)

### Importing Libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns

### Importing Dataset

In [14]:
data = pd.read_csv('Data/Market_Basket_Optimisation.csv')
data.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.shape

(7500, 20)

### Creating a transaction list of all the datasets
### from mlxtend.frequent_patterns import association_rules, apriori

In [16]:
transact = []
for i in range(0, 5000):
  transact.append([str(data.values[i,j]) for j in range(1, 20)])

### Importing Apriori Alogirtm

In [21]:
from apyori import apriori
Rule= apriori(transactions = transact, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)
Rule

### Setting the Non Tabular Output into Pandas DataFrame

In [22]:
Results = list(Rule) 
def inspect(Results):
    left_hand  = [tuple(result[2][0][0])[0] for result in Results]
    right_hand = [tuple(result[2][0][1])[0] for result in Results]
    support    = [result[1] for result in Results]
    confidence = [result[2][0][2] for result in Results]
    lift       = [result[2][0][3] for result in Results]
    return list(zip(left_hand, right_hand, support, confidence, lift))
result = pd.DataFrame(inspect(Results), columns = ['Left_Hand_Side', 'Right_Hand_Side', 'Support', 'Confidence', 'Lift'])

### Results are as following

### first five values

In [24]:
result.head()

         Left_Hand_Side Right_Hand_Side  Support  Confidence      Lift
0             black tea            milk   0.0044    0.333333  3.156566
1           light cream         chicken   0.0044    0.285714  4.995005
2                 cider            milk   0.0034    0.326923  3.095862
3           light cream     cooking oil   0.0036    0.233766  4.281433
4  mushroom cream sauce        escalope   0.0046    0.252747  4.103040

### Top 10 results with highest value of Lift

In [23]:
result.nlargest(n = 10, columns = 'Lift')

          Left_Hand_Side    Right_Hand_Side  Support  Confidence      Lift
7          fromage blanc              honey   0.0032    0.271186  6.053269
9        parmesan cheese  frozen vegetables   0.0030    0.263158  5.505395
11     frozen vegetables           tomatoes   0.0108    0.225941  5.020921
1            light cream            chicken   0.0044    0.285714  4.995005
10                shrimp  frozen vegetables   0.0066    0.226027  4.728607
14         herb & pepper        ground beef   0.0056    0.318182  4.481434
3            light cream        cooking oil   0.0036    0.233766  4.281433
6             fresh tuna          spaghetti   0.0030    0.555556  4.127456
4   mushroom cream sauce           escalope   0.0046    0.252747  4.103040
12         grated cheese        ground beef   0.0038    0.267606  3.769093